<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NServiceKit" version="1.0.43" targetFramework="net40" />
  <package id="NServiceKit.Common" version="1.0.43" targetFramework="net40" />
  <package id="NServiceKit.Mvc" version="1.0.43" targetFramework="net40" />
  <package id="NServiceKit.Text" version="1.0.10" targetFramework="net40" />
  <package id="ServiceStack.Interfaces" version="4.0.31" targetFramework="net40" />
</packages>